In [1]:
#set
#-multiple data
#-no duplicate data
#-no indexing
#-immutable datatype
#-unordered

In [2]:
s={1,2,3,4,5,6,7,8,9}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
s={1,1,2,3,4}  #no duplicate data
print(s)

{1, 2, 3, 4}

In [4]:
s={"apple","ball","cat","dog","Elephant"}
print(s)

{'dog', 'cat', 'ball', 'apple', 'Elephant'}

In [7]:
#no list dict set indide set(no mutable data)
#tuple can be inside set because tuple is immutable
s={("Apple","ball","Apple"),("cat","dog","Apple")}
print(s)

{('cat', 'dog', 'Apple'), ('Apple', 'ball', 'Apple')}

In [8]:
s={("Apple","ball","Apple"),("Apple","ball","Apple")}
print(s)

{('Apple', 'ball', 'Apple')}

In [9]:
a={1,2,3}
b={4,5,6}
#No print(a+b)
a.update(b)
a

{1, 2, 3, 4, 5, 6}

In [11]:
U={'Ram','Shyam','Bill','Gates','john','jobs','Ram','Nabin','sameer','xyz','abc'}
ms = {'Ram','Shyam','Bill','Gates','john'}
apple={'jobs','Ram','Nabin','sameer'}
print("common in  both set = ",ms.intersection(apple))

print("Union in both set = ",ms.union(apple))

print("Working only at ms = ",ms - apple)   #ms.difference(apple)

print("Working only at apple = ",apple - ms)   #apple.difference(ms)

print("Unemployed = ",U-ms.union(apple))

common in  both set =  {'Ram'}
Union in both set =  {'jobs', 'Bill', 'Nabin', 'john', 'Ram', 'sameer', 'Gates', 'Shyam'}
Working only at ms =  {'Bill', 'john', 'Gates', 'Shyam'}
Working only at apple =  {'jobs', 'Nabin', 'sameer'}
Unemployed =  {'abc', 'xyz'}

In [14]:
s={"apple","ball","cat","dog","Elephant"}
for i in s:
    print(i)

dog
cat
ball
apple
Elephant

In [15]:
s = {}
type(s)

dict

In [16]:
s = set()
s.add("Apple")
s.add("Ball")
s

{'Apple', 'Ball'}

In [17]:
s.remove("Apple")
s

{'Ball'}