In [1]:
#python collection
-list
-multiple data
-Duplicate data
-indexing
-mutable datatype

SyntaxError: invalid syntax (3620175483.py, line 3)

In [5]:
a=["apple","ball","cat","dog","elephant"]
b=[1,2,3,4,5,6,7,8]
print(a[0])
print(a[0:4])
print(a[::-1])

apple
['apple', 'ball', 'cat', 'dog']
['elephant', 'dog', 'cat', 'ball', 'apple']

In [7]:
a=[1,2,3,4,5]
b=[4,4,4]
c=a+b
print(c)

[1, 2, 3, 4, 5, 4, 4, 4]

In [8]:
a=[1,2,3,4,5]
b=[4,4,4]
e = a[0] + b[0]
print(e)

5

In [12]:
a=[1,2,3,4,5,6]
print(a*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [20]:
#Mutable data type
a=[1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [17]:
a=[1,2,3]
a.insert(0,4)
print(a)

[4, 1, 2, 3]

In [18]:
a=[1,2,3,4]
b=[0,0,0]
a.extend(b)
print(a)

[1, 2, 3, 4, 0, 0, 0]

In [21]:
#update
a=[1,2,3]
a[0]=4
a

[4, 2, 3]

In [22]:
a=[]
n=int(input("Enter n="))
for i in range(n):
    x=int(input("Enter x = "))
    a.append(x)

    print(a)

Enter n=3
Enter x = 112
[112]
Enter x = 112
[112, 112]
Enter x = 1123
[112, 112, 1123]

In [23]:
print("The maximum value = ",max(a))
print("The minimum value = ",min(a))
print("Sum = ",sum(a))
a.sort()
print(a)
a.reverse()
print(a)

The maximum value =  1123
The minimum value =  112
Sum =  1347
[112, 112, 1123]
[1123, 112, 112]

In [24]:
a=["Ball","ant","cat","Dog"]
a.sort()
print(a)

['Ball', 'Dog', 'ant', 'cat']

In [25]:
a=[9,5,6,7,3,4,2]
a.sort()
a

[2, 3, 4, 5, 6, 7, 9]

In [2]:
l=[["Ram",20,"ktm"],["Hari",21,"patan"],["krishna",20,"nuwakot"]]
print(l[0])

['Ram', 20, 'ktm']

In [3]:
print(l[0][0])

Ram

In [4]:
a=[["Ram",20,"ktm"],["Hari",21,"patan"],["krishna",20,"nuwakot"]]
del a[0]

In [5]:
print(a)

[['Hari', 21, 'patan'], ['krishna', 20, 'nuwakot']]

In [9]:
a=[["Ram",20,"ktm"],["Hari",21,"patan"],["krishna",20,"nuwakot"]]
b = a.pop[0]
print(a)
print(b)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [1]:
l=[]
n=int(input("Enter n="))
for i in range(n):
    name = input("Enter name : ")
    age=int(input("Enter age = "))
    add = input("Enter add = ")
    data=[name,age,add]
    l.append(data)
    
print(l)

Enter n=3
Enter name : saugat
Enter age = 20
Enter add = ktm
Enter name : ram
Enter age = 30
Enter add = ptn
Enter name : shyam
Enter age = 40
Enter add = patan
[['saugat', 20, 'ktm'], ['ram', 30, 'ptn'], ['shyam', 40, 'patan']]

In [7]:
info=[["Ram",20,"ktm"],["Hari",21,"patan"],["krishna",20,"nuwakot"]]
name=input("Enter name to find information = ")
for i in info:
    if i[0]==name:
        print(i)

Enter name to find information = Ram
['Ram', 20, 'ktm']

In [8]:
inf0=[['Ram','Shyam','Hari'],[20,22,23],['kathmandu','Bhaktapur','Lalitpur']]
print(info)

[['Ram', 20, 'ktm'], ['Hari', 21, 'patan'], ['krishna', 20, 'nuwakot']]

In [9]:
#Wap to create list inside list like above
#WAP to create a matrix
#r=?
#c=?
#x=?

In [10]:
#tuple
(List inside list)
(Two dimensional matrix jastai)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1563162645.py, line 2)

In [11]:
#Tuple
-multiple data
-Duplicate data
-indexing
-immutable datatype

SyntaxError: invalid syntax (33666749.py, line 2)

In [12]:
a=(1,2,3,4,5,6,7,8,9,9)
b=('apple','ball','cat')
print(type(a),type(b))

<class 'tuple'> <class 'tuple'>

In [13]:
#Immutable
#No append(),insert(),extend()
#No update
#No del pop() remove()
#No sort()

In [14]:
print(a[0])

1

In [15]:
print(type(a[0]))

<class 'int'>

In [16]:
a=(1,2,3,4)
b=(5,6,7,8)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

In [19]:
#t=tuple()
t = ()
n=int(input("Enter n = "))
for i in range(n):
    x=int(input("Enter x = "))
    t=t+(x,)
print(t)

Enter n = 2
Enter x = 1
Enter x = 2
(1, 2)

In [4]:
a=(1,2,3,4)
l=list(a)
print(l)

[1, 2, 3, 4]

In [6]:
a=(1,2,3,4)
l=list(a)
l.append(5)
a=tuple(l)
print(a)

(1, 2, 3, 4, 5)

In [7]:
#tuple inside tuple
t=((1,2,3),(4,5,6),(7,8,9))
#WAP to create list inside tuple

In [9]:
l=[(1,2,3),(4,5,6)(7,8,9)]
#WAP to create list inside tuple

<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\User\AppData\Local\Temp\ipykernel_17004\525186121.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  l=[(1,2,3),(4,5,6)(7,8,9)]

TypeError: 'tuple' object is not callable

In [1]:
#dictionary
# -Multiple data
# -Duplicate data
# -Indexing 
# -Mutable datatype

In [2]:
# d={<key>:<value>,<key>:<value>....}

In [3]:
d={'a':'Apple','b':'ball','c':'cat'}
print(d['a'])
print(d['b'])

Apple
ball

In [4]:
d={'a':'Apple','b':'ball','c':'cat','A':'Ant'}
print(d['a'])
print(d['b'])
print(d)

Apple
ball
{'a': 'Apple', 'b': 'ball', 'c': 'cat', 'A': 'Ant'}

In [1]:
len(d)

NameError: name 'd' is not defined

In [6]:
# d= dict()
d={}
d['Ram']=9860376537
d['shyam']=9845345037
d['tom']=9845675731
d

{'Ram': 9860376537, 'shyam': 9845345037, 'tom': 9845675731}

In [8]:
d={}
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name : ")
    phone=input("Enter phone number : ")
    d[name]=phone
print(d)

Enter n= 3
Enter name : ram
Enter phone number : 9876543210
Enter name : shyam
Enter phone number : 9876509876
Enter name : Hari
Enter phone number : 98765234567
{'ram': '9876543210', 'shyam': '9876509876', 'Hari': '98765234567'}

In [12]:
d={'a':'Apple','b':'ball','c':'cat'}
del d['b']
print(d)

{'a': 'Apple', 'c': 'cat'}

In [15]:
d={'a':'Apple','b':'ball','c':'cat'}
b=d.pop('a')
print(d)
print(b)

{'b': 'ball', 'c': 'cat'}
Apple

In [5]:
a=['Ram','Shyam','Hari']
for i in a:
    print(i)

Ram
Shyam
Hari

In [8]:
#for keys only
a={'ram': '9876543210', 'shyam': '9876509876', 'Hari': '98765234567'}
for i in a:
    print(i)
#for values only
for i in a.values():
    print(i)
#for both
for i in a.items():
    print(i)

ram
shyam
Hari
9876543210
9876509876
98765234567
('ram', '9876543210')
('shyam', '9876509876')
('Hari', '98765234567')

In [9]:
a={'ram': '9876543210', 'shyam': '9876509876', 'Hari': '98765234567'}
del a['ram']
print(a)

{'shyam': '9876509876', 'Hari': '98765234567'}

In [10]:
a={'ram': '9876543210', 'shyam': '9876509876', 'Hari': '98765234567'}
b=a.pop('ram')
print(a)
print(b)

{'shyam': '9876509876', 'Hari': '98765234567'}
9876543210

In [13]:
a={input("Enter name : "):input("Enter phone number : ")}
print(a)

Enter name : ram
Enter phone number : 9858768990
{'ram': '9858768990'}

In [15]:
a={'name':['Ram','Shyam','Hari'],'ntc':['987654378','87653899','9098654356'],'ncell':['98765546747','9376355363','937363538']}
print(a)

{'name': ['Ram', 'Shyam', 'Hari'], 'ntc': ['987654378', '87653899', '9098654356'], 'ncell': ['98765546747', '9376355363', '937363538']}

In [16]:
#list inside dictionary
d={}
n=int(input("Enter n : "))
for i in range(n):
    name = input("Enter name : ")
    ntc = input("Enter ntc number : ")
    ncell = input("Enter ncell number : ")
    d[name]=[ntc,ncell]
print(d)

Enter n : 2
Enter name : ram
Enter ntc number : 9876544326
Enter ncell number : 98754563737
Enter name : shyam
Enter ntc number : 093847723
Enter ncell number : 9827346934
{'ram': ['9876544326', '98754563737'], 'shyam': ['093847723', '9827346934']}

In [17]:
print(d['ram'])

['9876544326', '98754563737']

In [19]:
print("Ntc number of ram : ",d['ram'][0])

Ntc number of ram :  9876544326

In [21]:
d={'name':[],'ntc':[],'ncell':[]}
n=int(input("Enter n : "))
for i in range(n):
    name = input("Enter name : ")
    ntc = input("Enter ntc number : ")
    ncell = input("Enter ncell number : ")
    d['name'].append(name)
    d['ntc'].append(ntc)
    d['ncell'].append(ncell)
print(d)

Enter n : 2
Enter name : saugat
Enter ntc number : 9373535
Enter ncell number : 836353435
Enter name : ram
Enter ntc number : 936353535
Enter ncell number : 876353436387
{'name': ['saugat', 'ram'], 'ntc': ['9373535', '936353535'], 'ncell': ['836353435', '876353436387']}

In [22]:
a={'name': ['saugat', 'ram'], 
   'ntc': ['9373535', '936353535'], 
   'ncell': ['836353435', '876353436387']}
print(d['name'][0])
print(d['ntc'][0])
print(d['ncell'][0])

saugat
9373535
836353435

In [37]:
d={'name': ['saugat', 'ram'], 
   'ntc': ['9373535', '936353535'], 
   'ncell': ['836353435', '876353436387']}
del d['name'][0]
del d['ntc'][0]
del d['ncell'][0]
print(d)

{'name': ['ram'], 'ntc': ['936353535'], 'ncell': ['876353436387']}

In [2]:
#dictionary inside list 
l=[{'name':'Ram','age':34,'address':'ktm'},
   {'name':'shyam','age':35,'address':'ptn'},
   {'name':'ghanshyam','age':36,'address':'bkt'}]
print(l)

[{'name': 'Ram', 'age': 34, 'address': 'ktm'}, {'name': 'shyam', 'age': 35, 'address': 'ptn'}, {'name': 'ghanshyam', 'age': 36, 'address': 'bkt'}]

In [3]:
print(l[2])

{'name': 'ghanshyam', 'age': 36, 'address': 'bkt'}

In [6]:
print(l[2]['name'])

ghanshyam

In [7]:
for i in l:
    print(i)

{'name': 'Ram', 'age': 34, 'address': 'ktm'}
{'name': 'shyam', 'age': 35, 'address': 'ptn'}
{'name': 'ghanshyam', 'age': 36, 'address': 'bkt'}

In [8]:
for i in l:
    print(list(i.items()))

[('name', 'Ram'), ('age', 34), ('address', 'ktm')]
[('name', 'shyam'), ('age', 35), ('address', 'ptn')]
[('name', 'ghanshyam'), ('age', 36), ('address', 'bkt')]

In [9]:
print('python version')

python version

In [13]:
print(version_info)

NameError: name 'version_info' is not defined

In [14]:
l=[]
n=int(input('input number of n : '))
for i in range(n):
    name = input('Enter name : ')
    age = int(input('Enter age '))
    address = input('Enter address : ')
    info={'name':name,'age':age,'address':address}
    l.append(info)
print(l)

input number of n : 2
Enter name : ram
Enter age 34
Enter address : ktm
Enter name : shyam
Enter age 35
Enter address : patan
[{'name': 'ram', 'age': 34, 'address': 'ktm'}, {'name': 'shyam', 'age': 35, 'address': 'patan'}]

In [17]:
l=[{'name':'Ram','age':34,'address':'ktm'},
   {'name':'shyam','age':35,'address':'ptn'},
   {'name':'ghanshyam','age':36,'address':'bkt'}]
l[0]['phone']=984876345353
print(l)

[{'name': 'Ram', 'age': 34, 'address': 'ktm', 'phone': 984876345353}, {'name': 'shyam', 'age': 35, 'address': 'ptn'}, {'name': 'ghanshyam', 'age': 36, 'address': 'bkt'}]

In [25]:
print(l[2]['age'])

36

In [27]:
for i in l[0:1]:
    print(list(i.values()))

['Ram', 34, 'ktm', 984876345353]

for i in l[0:2]:
    print(list(i.values()))

In [28]:
for i in l[0:2]:
    print(list(i.values()))

['Ram', 34, 'ktm', 984876345353]
['shyam', 35, 'ptn']

In [29]:
for i in l[0:3]:
    print(list(i.values()))

['Ram', 34, 'ktm', 984876345353]
['shyam', 35, 'ptn']
['ghanshyam', 36, 'bkt']

In [32]:
print(len(l))

3

In [37]:
l=[{'name':'Ram','age':34,'address':'ktm'},
   {'name':'shyam','age':35,'address':'ptn'},
   {'name':'ghanshyam','age':36,'address':'bkt'}]
for i in range(len(l)):
    l[i]['phone']=int(input('Enter phone number : '))

print(l)

Enter phone number : 56876
Enter phone number : 6788
Enter phone number : 75545
[{'name': 'Ram', 'age': 34, 'address': 'ktm', 'phone': 56876}, {'name': 'shyam', 'age': 35, 'address': 'ptn', 'phone': 6788}, {'name': 'ghanshyam', 'age': 36, 'address': 'bkt', 'phone': 75545}]

In [40]:
l=[['a','apple'],['b','ball'],['c','cat']]
dict(l)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [46]:
l=[{'name':'Ram','age':34,'address':['ktm','nuwakot']},
   {'name':'shyam','age':35,'address':['ptn','jhapa']},
   {'name':'ghanshyam','age':36,'address':['bkt','dang']}]
len(l)
print(l[1]['address'][0])

ptn

In [50]:
d={'name':'Ram','age':34,'address':['ktm','nuwakot']}
print(d['name'])
print(d['address'])
print(d['address'][0])
print(d['address'][1])

Ram
['ktm', 'nuwakot']
ktm
nuwakot

In [51]:
Dict inside dict

SyntaxError: invalid syntax (4220942297.py, line 1)